* {
  margin: 0px;
  padding: 0px;
}
nav {
  height: 15vh;
  background-color: #000000;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#logo {
  background-image: url("logo.png");
  background-size: contain;
  height: 40px;
  width: 40px;
  margin-right: 10px;
}
#abstract {
  font-size: 2rem;
  color: #ffffff;
  font-weight: bold;
  margin-right: 10px;
}
#partition {
  height: 40%;
  width: 3px;
  background-color: #ffffff;
}
#helpCenter {
  color: #ffffff;
  font-size: 2rem;
  padding-left: 10px;
}
#space {
  width: 35%;
}
#request {
  height: 30%;
  background-color: #272727;
  border: 1px solid white;
  border-radius: 10px;
  color: #ffffff;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
#signIn {
  height: 30%;
  background-color: #4c5fd5;
  border-radius: 10px;
  color: #ffffff;
  font-size: 1.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin-left: 20px;
}
#heroSec {
  background-color: #dadbf1;
  height: 67.8vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#heroHeading {
  font-size: 5rem;
  font-weight: 500;
}
#searchContainer {
  width: 100%;
  height: 30%;
  /* background-color: #000000; */
  display: flex;
  justify-content: center;
}
#heroSearch {
  height: 60%;
  width: 55%;
  margin-top: 10px;
  border-radius: 4px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border: 1px solid black;
  border-right: none;
  outline: none;
  /* box-shadow: 11px 11px 35px #a09dac, -11px -11px 35px #c0bdce; */
  box-shadow: 21px 20px 15px -2px rgba(0,0,0,0.1);
  font-size: 2rem;
  padding: 10px;
}
#searchIcon {
  height: 59%;
  background-color: #ffffff;
  color: #000000;
  margin-top: 10px;
  border: 1px solid black;
  border-left: none;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 21px 20px 15px -2px rgba(0,0,0,0.1);
  border-radius: 0px 4px 4px 0px;
}
#searchIcon i{
    font-size: 2.5rem;
}